@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #ddbefd;
  --secondary: #2F2F2F;
  --tertiary: #431379;
  --quaternary: #702FBD;
  --accent: #BE60C0;
  --padding: 60px;
  --text: #FCF6FF;
  --background: #242424;
  --transition: cubic-bezier(.4, 0, 0, 1);
  --font-primary: "SF UI Display", sans-serif;
  --font-secondary: "Ametist", serif;
  --btn-padding: 1.25rem 5.5rem;
  --btn-radius: 24px;
  --btn-font: var(--font-primary);
  --btn-font-size: 16px;
  --btn-font-weight: 500;
  --btn-line-height: 120%;
  --btn-read-bg: var(--quaternary);
  --btn-read-text: var(--text);
  --btn-play-bg: #2F2F2F;
  --btn-play-border: linear-gradient(90deg, #BF6DCC, #706AB3, #BF6DCC);
  --btn-text: var(--text);

}


.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, var(--tertiary) 0%, #090a0f 80%);
  margin: 0;
  padding: 0;
  object-fit: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  }
  
  body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  
  h1{
    white-space: nowrap;
    color: #ffffff;
    font-family: "Ametist";
    font-size: clamp(34px, 5vw, 60px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    z-index: 1;
   
  }
  
  h2{
  color: #FFF;
  font-family: "SF UI Display";
  font-size: clamp(12px, 2vw, 27px);
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  margin: 0;
  z-index: 1;
  }
  
  h3{
  color: var(--accent);
  font-family: "SF UI Display";
  font-size: clamp(12px, 2vw, 32px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  z-index: 1;
  }
  
  h4{
    color: var(--primary);
    font-family: "SF UI Display";
    font-size: clamp(12px, 2vw, 24px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
    z-index: 1;
    }
  
  
  p{
  text-align: center;
  color: var(--text);
  font-family: "SF UI Display";
  font-size: clamp(12px, 1vw, 16px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  }
  
  /* .hidden {
    display: none !important;
  } */
  
  
.book {
  width: 420px;
  height: 654px;
  transform: translate(-50%, -50%) rotatex(10deg) rotatey(-10deg);
  transform-style: preserve-3d;
}

.cardd{
width: 300px;
height: 289px;
border: none;
border-radius: 20px;
padding: 5px;
}

.page {
  width: 420px;
  height: 654px;
  position: absolute;
  border: none;
  border-radius: 5px;
  top: 0;
  right: 0;
  transition: transform 1s;
}

.page:nth-child(1) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-1px);
  background: #242424;
}

.left-side:nth-child(1) {
  transform: translatez(1px) rotatey(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-2px) scalex(-1) translatex(100%);
  background-image: url("https://i.postimg.cc/MT3wpbd7/image-1993764041.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(2) {
  transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-3px);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(3) {
  transform: translatez(3px) rotatey(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-4px) scalex(-1) translatex(100%);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(4) {
  transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-5px);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(5) {
  transform: translatez(5px) rotatey(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-6px) scalex(-1) translatex(100%);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(6) {
  transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-7px);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side:nth-child(7) {
  transform: translatez(7px) rotatey(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-8px) scalex(-1) translatex(100%);
  background-image: url("https://i.postimg.cc/8zXjxMV6/image-1993764302.png");
}

.left-side:nth-child(8) {
  transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}



.cover-front:nth-child(1) {
  text-align: center;
  background-image: url("https://i.postimg.cc/c4Qy8SJk/Frame-495.png");
  background-repeat: no-repeat;
  background-size: cover; 
}
.cover-front:nth-child(1) h1 {
  font-family: "Lora", serif;
  font-size: 40px;
  color: #ffffff;
  margin-top: 20px;
  text-transform: uppercase;
}
.cover-front:nth-child(1) h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  color: #ffffff;
  position: relative;
}
.cover-front:nth-child(1) .hat {
  font-size: 100px;
  color: #134a78;
  position: relative;
  top: 3%;
}

p {
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}

.page:nth-child(3) p:first-of-type:first-letter {
  font-size: 32px;
}
 

#choiceScreen{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  padding: 0;
  background: radial-gradient(ellipse at left, var(--tertiary) 0%, #090a0f 80%);
  
  }
  
  .content{
    width: 100vw;
    height: 100vh;
    margin-top: -3%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5%;
    z-index: 1;
  }
  
  .btncont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
  }
  
  /* Buttons */
  
  #btnRead, #btnPlay, #btnChooseGenre, #btnRandomGenre {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4rem;
  padding: 1.25rem 2rem;
  border-radius: 24px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: medium;
  font-weight: 500;
  line-height: 120%;
  z-index: 10;
  cursor: pointer;
  
  }
  
  
  #btnRead, #btnChooseGenre, #choiceganre {
  background-color: var(--quaternary);
  color: var(--text);
  border: none;
  }
  
  #choiceganre{
    display: flex;
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 8px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: medium;
    font-weight: 400;
    line-height: 120%;
  }
  
  #btnPlay, #btnRandomGenre {
    background-color: #2F2F2F;
    color: var(--text);
    border-radius: 24px;
    position: relative;
    cursor: pointer;
    border: none; 
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  #btnPlay::before {
    content: "";
    inset: 0; 
    position: absolute;
    padding: 2px; 
    border-radius: 24px;
    background: linear-gradient(90deg, #BF6DCC, #706AB3, #BF6DCC);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; /* Чтобы градиент не мешал кликам */
  }
  
  #btnRandomGenre::before{
    content: "";
    inset: 0; 
    position: absolute;
    padding: 2px; 
    border-radius: 24px;
    background: linear-gradient(90deg, #BF6DCC, #706AB3, #BF6DCC);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; /* Чтобы градиент не мешал кликам */
  }
  
  .moon{
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  opacity: 0.3;
  left: -4%;
  top: 25%;
  z-index: 0;
  
  }
  
  .moon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

 /* Четвёртый экран */

 #genreOrFateScreen{
width: 100vw;
height: 100vh;
overflow: hidden;
 }

.cube{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: calc(100%/2 - 150px);
  top: 60%;
  /* animation: glow 5s ease-in-out infinite;
  */
}

.cube img{
max-width: 300px;
}

.cub2{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: calc(100%/2 - 100px);
  top: 55%;
  animation: floatUpDown 3s ease-in-out infinite;
  transform-origin: center;
}

.cub2 img{
max-width: 200px;
transform-origin: center;
animation: rotate2 20s ease-in-out infinite;
}


.rst2{
  width: 16.36981rem;
  height: 26.76638rem;
  transform: rotate(16.063deg);
  flex-shrink: 0;
  border-radius: 8.24825rem;
  background: linear-gradient(180deg, #7C6AB3 0%, #A653FF 100%);
  filter: blur(200px);
  position: absolute;
  right: 0;
  top: 20%;
  animation: rest 4s ease-in-out infinite alternate, 
             glow 3s ease-in-out infinite,
             floatUpDown 6s ease-in-out infinite;

}

