@media (max-width: 1199px) {
    .room {
      display: none;
    }
  
    .frm {
      display: block;
    }

    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        padding-top: .1%;
        position: absolute;
        }
        
        .dama{
        width: 70%;
        height: auto;
        margin-left: calc(30%/2);
        
        }
  }

  @media (max-width: 960px) {
    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        padding-top: .1%;
        position: absolute;
        }
        
        .dama{
        width: 100%;
        height: auto;
        margin-left: calc(10%/2);
        
        }
  }

  @media (max-width: 640px) {
    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        top: 10%;
        position: absolute;
        }
        
        .dama{
        width: 100%;
        height: auto;
        left: -2%;
        }

        .contentcont{
        gap: 1rem;
        padding: 1rem 4rem 2rem 4rem;
        bottom: 10%;
        border-radius: 24px;
        }
  }

  @media (max-width: 600px) {
    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        top: 15%;
        position: absolute;
        }
        
        .dama{
        width: 100%;
        height: auto;
        left: -2%;
        }

        .contentcont{
        gap: 1rem;
        padding: 1rem 4rem 2rem 4rem;
        bottom: 20%;
        border-radius: 24px;
        }
  }

  @media (max-width: 480px) {
    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        top: 15%;
        position: absolute;
        }
        
        .dama{
        width: 100%;
        height: auto;
        left: -2%;
        }

        .contentcont{
        gap: 1rem;
        padding: 1rem 2rem 2rem 2rem;
        bottom: 25%;
        border-radius: 24px;
        }
  }

  @media (max-width: 360px) {
    .card-main{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        align-content: stretch;
        top: 15%;
        position: absolute;
        }
        
        .dama{
        width: 100%;
        height: auto;
        left: -2%;
        }

        .contentcont{
        gap: 1rem;
        padding: .5rem 1rem .5rem 1rem;
        bottom: 35%;
        border-radius: 24px;
        }
  }

  /* Второй экран */

  @media (max-width: 480px) {
   
    .showtitle{
       white-space: wrap;
      }

      .popup-wrapper{
    width: 98vw;
      } 

      #popup-title{
      font-size: 20px;
      padding-bottom: 20px;
      }

      #popup-text1, #popup-text2{
        font-size: 12px;
        line-height: 110%;
        gap: 10px;
        
      }
      
      .features{
        border-radius: 12px;
        padding: .5rem 1rem;
      }
      
  }

    /* Третий экран */

    @media (max-width: 1200px) {
   
  #btnRead, #btnPlay, #btnChooseGenre, #btnRandomGenre {
    display: flex;
    width: 100%;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 3rem;
    padding: 1rem;
    border-radius: 24px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-style: medium;
    font-weight: 500;
    line-height: 120%;
    
    }

    #choiceScreen h1{
    white-space: wrap;
    }
    
      }

      @media (max-width: 640px) {
   
        .btncont{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
          }
          
            }


 /* Четвёртый экран */

 @media (max-width: 960px) {
   
 #genreOrFateScreen .content{
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 30% 0 0 0;
}

.cube{
  position: absolute;
  margin-left: calc(100%/2 - 150px);
  top: 50%;
  width: 100vw;
  height: 100vh;


}

#genreOrFateScreen h2{
  width: 80%;
  font-size: 20px;
  white-space: wrap;
  padding: 5px;
  }
    
      }

      @media (max-width:480px) {


   
        .cube{
          position: absolute;
          margin-left: calc(100%/2 - 160px);
          top: 45%;
        }
 }


  /*5 экран */ 


  @media (max-width: 1200px) {
    .mirrordame, .mirror-mist, canvas {
      display: none;
    }

    #genreSelectionScreen{
    padding: 0;
    }

    #genreSelectionScreen h2 {
      margin-top: auto;
      padding-bottom: .3rem;
    }
    

    .contentcontainer{
    margin: auto;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    }
  
    .card {
      max-width: 14rem; 
    }


  }

  
@media (max-width: 1024px) {
  .cards-container {
    justify-content: center; 
    gap: 1rem;
  }

  #genreSelectionScreen h2 {
    margin-top: auto;
    padding-bottom: .2rem;
  }

  .card {
    max-width: 12rem; 
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 14rem;
  }

  .books-btn {
    font-size: 0.9rem;
    padding: 6px 16px;
  }
}

@media (max-width: 676px) {

  #genreSelectionScreen h2 {
    margin-top: auto;
    padding-bottom: .2rem;
    white-space: wrap;
  }
  
  .cards-container {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overscroll-behavior-y: contain;
      scrollbar-width: none;
      padding-bottom: 15%;
  }

  .cards-container::-webkit-scrollbar {
      display: none;
  }

  .card {
      width: 100%;
      height: auto;
  }
}



