/* Адаптивы 1 экран */

@media screen and (max-width: 960px) {
    .frm{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .frm{
      width: 100vw;
      height: auto;
    }
  
    .contentcont{
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 5rem 0 0 0;
    gap: 1rem;
    }
  
    .txt{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    }
  
    h1{
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
  
    h2{
      width: 60vw;
    }
  
  
    .card{
      margin-left: 4rem;
      margin-top: -2rem;
      width: 250vw;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: -1;
    }
  
    .dama{
  
    width: 100vw;
    height: auto;
    object-fit: cover;
    }
  
    
  
    #buttonPlay{
    height: 4vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
  
  }
  
  @media screen and (max-width: 640px) {
    .frm{
      flex-direction: column-reverse;
      width: 100vw;
      height: 100vh;
      align-items:center;
      justify-content: center;
      object-fit: cover;
      overflow: hidden;
    }
  
    .contentcont{
      width: 100vw;
      align-items: center;
      justify-content: center;
      z-index: 10;
      margin-top: -60%;
     
    }
  
    .card{
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
    width: 200vw;
    height:100vh;
    
    }
  
    .dama{
    width: 200vw;
    height: 100vh;
    object-fit: contain;
    
    }
  
    .txt{
    width: 100vw;
    }
  
    .rest{
      display: block;
      width: 100vw;
      height: 55vh;
      background: linear-gradient(180deg, rgba(36, 36, 36, 0.00) 0%, #242424 100%);
      position: fixed;
      bottom: 0;
    }
  
  }
  
  @media screen and (max-width: 360px) {
    .contentcont{
      width: 100vw;
      align-items: center;
      justify-content: center;
      z-index: 10;
      margin-top: -60%;
     
    }
  
    .card{
    margin-top: -10%;
    }
  
    
  }
  
  /* Адаптивы 1 экран */

  @media  screen and (max-width: 960px) {
   
  }